body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

section {
  padding: 1.5em;
  margin: 1em 0;
}

h1, h2 {
  color: #333;
}

#skills ul {
  list-style-type: none;
  padding: 0;
}

#skills li, .project {
  margin-bottom: 0.5em;
}

a {
  color: #333;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 1em;
  background: #333;
  color: #fff;
}
